/* Icons are not looking good in Chrome */

.sub_title {
	font-family: 'FuturaMdBTMedium';
	font-size:24px;
	margin:50px 0 30px 0;
	color:#999;
}
.icon {
  display: none !important; 
}
table.dashboard td { width: 33%; }


.product { 
	float: left;
	margin-right: 3px;
	margin-bottom: 3px;
	height: auto;
	background-color: none;
}

.product img { width: 190px; height: 150px; padding: 0 10px 5px 0;}
.product h2 { font-size: 0.8em; }
.product .product-label {
	width: 190px;
	height: 14px;
	overflow: hidden;
	padding: 0px 5px 5px 5px;
	font-size: 14px;
}

.product .product-price {
	color: #00CCCC;
	background-color: white;
	height: 18px;
	padding: 7px 0 0 3px;
	margin: 0px 10px 0px 0px;
	position: relative;
	width: auto;
	float: right;
	font-weight: none;
	font-size: 15px;
}

.product-label a {
	text-decoration: none;
	padding: 3px;
	font-family: helvetica;
	font-weight:light;
	color: #333;
}

.product-desc {
  background-color: white;
  padding: 5px;
  width: 120px;
  height: 28px;
  margin: 0 0 10px 5px;
  color:#666;
  overflow: hidden;
  position: relative;
  float:left;
}

.product-dist {
  background-color: gray;
  height: 0px;
  margin-top: 42px;
  width: 10px;  
}

#product-image { width: 150px; float: left; margin-right: 20px;  }
#product-description { margin-left: 170px;  }

