ul {
	list-style: none;
}

/* 
	LEVEL ONE
*/
#menu-links-1 {
	position: relative;
	margin: 5px auto;
	width: 980px;
	height:40px;
}

#menu-links-1 a:link {
	font-size: 16px;
}

ul.dropdown { 
	position: relative;
	width: auto;
	height: auto;
	float:right;
}


ul.dropdown li { 
	width: auto;
	height: auto;
	position: relative;
	font-family: 'FuturaMdBTMedium';
	font-size: 14px;
	padding:0px 10px 0px 10px;
	border-right: solid 1px #666;
	float:left;
}

ul.dropdown a:hover {
	color: #666;
}

ul.dropdown li a {
	font-size: 14px; 
	display: block;
	padding: 5px 8px;
	color: none;
	position: relative;
	z-index: 2000;
	text-decoration: none;
}

ul.dropdown li a:hover,
ul.dropdown li a.hover {
	background: #FFF;
	position: relative;
}

/* 
	LEVEL TWO
*/
#menu-links-2 {
	position: relative;
	margin: 0 auto 25px auto;
	padding: 25px 0 15px 0;
	width: 980px;
}

#menu-links-2 #site_title a:link {
	font-size:34px;
}

ul.dropdown ul { 
	display: none;
	position: absolute;
	top: 0;
	left: -24px;
	width: auto;
	z-index: 1000;
}

ul.dropdown ul li {
	font-weight: normal;
	background: #fff;
	color: #333;
	width: 120px;
	border-right: none;
}

ul.dropdown ul li a a:hover;{
	display: none;
	background: none;
}
 
ul.dropdown ul li a:hover {
	display: block;
	background:#99CC33;
}

#search {
	width: 280px;
	height: 25px;
	line-height: 25px;
	margin: 0 0 0 25px;
}
