<div id="offer_history">
    <div id="headers">
        <div id="ratings">Ratings</div>
        <div id="comment">Comment</div>
        <div id="date">Date</div>
        <div id="deals">Deals</div>
    </div>
    <div id="rows">
        <div id="ratings">3.8 some stars</div>
        <div id="comment">
            <div id="user">Alice says: </div> 
            <div id="message">a;lsdfja;lskdfja;lskdfja;lsdkfj</div>
        </div>
        <div id="date">Some date 8/9/2010</div>
        <div id="deals">some img tag, + $20</div>
    </div>
</div>