<% title @auser.email %>

<% @products.each do |product| %>
  <div class="product">
    <%= link_to image_tag(product.image.url(:medium)), product_path(product) %>
    <h2><%= link_to product.title, product_path(product) %></h2>
  </div>
<% end %>

<div style="clear:both"></div>

<p> <%= link_to "Back to All Products", products_path %> </p>

<div style="clear:both;"></div>

