<div id="menu-links-1">
<ul class="dropdown">
	<% if !current_user.blank? %>
	<li>
	<span class="current_user"><%= current_user.get_link_to_user_page %></span>
	</li>
	<% end %>
	<li>
	<span class="current_user"><%= link_to "List new item", new_item_path() %></span>
	</li>
	<% if !current_user.blank? %>
	<li><a href="/items">Your Bazaar</a>
		<ul class="sub_menu">
		<li id="items"><a href="/items">Items</a></li>
		<li id="offers"><a href="/offers">Offers</a></li>
		<li id="transactions"><a href="/transactions">Transactions</a></li>
		<li id="users"><a href="/users">Users</a></li>
		</ul>
	</li>
	<% end %>
	<li>
	 <a href="/account">Account</a>
	</li>
	<li>
		<a href="/cart">Basket</a>
	</li>
	<li>
		<% if !current_user.blank? %>
		<a href="/logout" data-method="get">Logout</a>
		<% else %>
		<a href="/login" data-method="get">Login</a>
		<% end %>
	</li>
</ul>
</div>
<p class="header-item" id="utility_nav">

</p>